
.tns-controls{
  display:none;
}

.tns-nav button{
  border:none;
  margin:3px;
  width:10px !important;
  height:10px;
}

.tns-nav button.tns-nav-active{
  background:#34495e;
}


.grid-actors{
  width:90%;
  margin-top:10px;
  display:grid;
  grid-template-columns:repeat(5,200px);
  grid-gap:20px;
}

@media screen and (max-width: 420px){
  .grid-actors{
    max-width:100%;
    width:100%;
    overflow-y:auto;
  }
}